<ToggleList as |Components|>
  <h2 data-test-default-attributes-header>
    <Components.header>
      Default A-Frame Attributes (Ember Bound Attributes)
    </Components.header>
  </h2>
  <Components.body>
    <ul>
      {{#each defaultAttributes as |attribute|}}
        <li data-test-default-attribute>
          {{attribute}}
        </li>
      {{/each}}
    </ul>
  </Components.body>
</ToggleList>