<h2>
  <span class="pointer" {{action "toggle"}}>
    {{#if isExpanded}}
      &#8863;
    {{else}}
      &#8862;
    {{/if}}
  </span>
  Default A-Frame Components (Ember Bound Attributes)
</h2>
{{#if isExpanded}}
  <ul>
    {{#each defaultComponents as |component|}}
      <li>
        {{component}}
      </li>
    {{/each}}
  </ul>
{{/if}}