<ToggleList as |Components|>
  <h2 data-test-default-components-header>
    <Components.header>
      Default A-Frame Components (Ember Bound Attributes)
    </Components.header>
  </h2>
  <Components.body>
    <ul>
      {{#each defaultComponents as |component|}}
        <li data-test-default-component>
          {{component}}
        </li>
      {{/each}}
    </ul>
  </Components.body>
</ToggleList>