{{#toggle-list as |components|}}
  <h2>
    {{#components.header}}
      Default A-Frame Components (Ember Bound Attributes)
    {{/components.header}}
  </h2>
  {{#components.body}}
    <ul>
      {{#each defaultComponents as |component|}}
        <li>
          {{component}}
        </li>
      {{/each}}
    </ul>
  {{/components.body}}
{{/toggle-list}}