<h2>
  <span class="pointer" {{action "toggle"}}>
    {{#if isExpanded}}
      &#8863;
    {{else}}
      &#8862;
    {{/if}}
  </span>
  Default Attributes
</h2>
{{#if isExpanded}}
  <ul>
    {{#each defaultAttributes as |attribute|}}
      <li>
        {{attribute}}
      </li>
    {{/each}}
  </ul>
{{/if}}