{{#toggle-list as |components|}}
  <h2 data-test-default-attributes-header>
    {{#components.header}}
      Default A-Frame Attributes (Ember Bound Attributes)
    {{/components.header}}
  </h2>
  {{#components.body}}
    <ul>
      {{#each defaultAttributes as |attribute|}}
        <li data-test-default-attribute>
          {{attribute}}
        </li>
      {{/each}}
    </ul>
  {{/components.body}}
{{/toggle-list}}