{{#toggle-list
  as |_components|
}}
  <h2 data-test-primitive-list-header>
    {{#_components.header}}
      A-Frame primitives (Ember Components)
    {{/_components.header}}
  </h2>
  {{#_components.body}}
    {{!-- https://github.com/emberjs/ember.js/issues/18881 --}}
    {{#each components as |_component|}}
      {{#toggle-list
        data-test-primitive=_component.tagName
        shouldHideToggle=_component.shouldHideToggle
        as |components|
      }}
        {{#components.header}}
          {{_component.tagName}}
        {{/components.header}}
        {{#components.body}}
          <div>
            Non-default attributes
          </div>
          <ul>
            {{#each _component.nonDefaultAttributeBindings as |attribute|}}
              <li>
                {{attribute}}
              </li>
            {{/each}}
          </ul>
        {{/components.body}}
      {{/toggle-list}}
    {{/each}}
  {{/_components.body}}
{{/toggle-list}}