<ToggleList
  as |Components|
>
  <h2 data-test-primitive-list-header>
    <Components.header>
      A-Frame primitives (Ember Components)
    </Components.header>
  </h2>
  <Components.body>
    {{!-- https://github.com/emberjs/ember.js/issues/18881 --}}
    {{#each components as |_component|}}
      <ToggleList
        @data-test-primitive={{_component.tagName}}
        @shouldHideToggle={{_component.shouldHideToggle}}
        as |Components|
      >
        <Components.header>
          {{_component.tagName}}
        </Components.header>
        <Components.body>
          <div>
            Non-default attributes
          </div>
          <ul>
            {{#each _component.nonDefaultAttributeBindings as |attribute|}}
              <li>
                {{attribute}}
              </li>
            {{/each}}
          </ul>
        </Components.body>
      </ToggleList>
    {{/each}}
  </Components.body>
</ToggleList>