{{#unless @shouldHideToggle}}
  <span data-test-pointer class="toggle" role="button" {{on "click" (fn this.actions.toggle @isExpanded)}}>
    {{#if @isExpanded}}
      &#8863;
    {{else}}
      &#8862;
    {{/if}}
  </span>
{{/unless}}

{{yield}}